* {
  box-sizing: none;
}
.descriptionMobile{
  display:none;
}
.js-phoneMenu li a img{
      display:none;
    }
.circle {
  position: absolute;
   border: solid black;
  background: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 10;
}
#circleB{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

#defaultCanvas0 {
  position: fixed;
}
body {
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  /* min-height: 100vh; */
  flex-direction: row;
  list-style-type: none;
  cursor: none;
}

/*.colonne-1 {
  flex: 2;
}*/
.colonne-1 #c1Content {
  position: fixed;
  z-index: 10;
}
.menuAbsolute li:first-child {
  padding-top: 10vh;
}

#c1Content li {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
}
#c1Content li a {
  color: rgb(173, 173, 173);
  text-decoration: none;
}
/*.colonne-2 {
  display: flex;
  flex-direction: column;
  flex: 4;
}*/

.content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  align-items: center;
}

.content > article {
  flex: 3;
  min-height: 60vh;
  overflow: initial;
}

/* .content>aside {
    background: beige;
    flex: 1;
} */

header,
footer {
  /* background: yellowgreen; */
  height: 100vh;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}
#homeImage {
  display: block;
}
.carousel-control-next,
.carousel-control-prev {
  width: 50%;
}
.verticalControl{
      width: 100%;
    height: 14vh;
    display: flex;
    position: relative;
    z-index: 120;
    border: solid black;
}
 

 /*.verticalControlUp {
 top: -20vh;
  width: 100%;
  height: 20vh;
   z-index: 120;
  border: solid black;
  position: absolute;
  bottom: 0;

}
.verticalControlDown {
   /* width: 100%;
height: 20vh;
  border: solid black;
  position: absolute;
  bottom: -20vh;
   
}*/
#homePicture {
  display: flex;
  height: 100vh;
  align-items: center;
}
a.bigTitle {
  font-weight: 700;
  position: inherit;
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
  padding-inline-start: 0;
}

/* h1.bigTitle{
    text-decoration: none;
    color: black;
} */

footer {
  display: flex;
  justify-content: initial;
  flex-direction: column;
}
footer p {
  padding-right: 20vh;
  line-height: 1.2;
}
footer p a {
  color: black;
}
.menuAbsolute {
  padding-top: 9vh;
}
a {
  cursor: none;
}
a:-webkit-any-link.carousel-control-next {
  z-index: 20;
}
a:-webkit-any-link.carousel-control-prev {
  z-index: 20;
}
.menuAbsolute a {
  /*cursor: pointer;*/
}

.content > article {
  overflow: hidden;
}

.pageOver {
  padding-left: 4vh;
}
.js-scrollTo {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.js-scrollTo:hover {
  padding-left: 4vh;
}
#mobileNav {
  display: none;
}

/*mobile*/
a:hover {
  text-decoration: none;
}

/* petit laptop*/
@media (max-width: 900px) and (min-width: 425px) {
  js-phoneMenu li a img{
      display:none;
    }
  .imgFull {
    height: 40vh;
    width: auto;
  }
  .colonne-2 {
    display: flex;
    flex-direction: column;
    flex: 4;
  }
  footer p {
    padding-right: 0;
  }
}
/* grand laptop*/
@media (min-width: 900px) {
  js-phoneMenu li a img{
      display:none;
    }
  .imgFull {
    height: 65vh;
  }
}
@media (min-width: 48em) {
  #computer {
    display: list-item;
  }
  #mobile {
    display: none;
  }
  h1 {
    font-size: 2.5rem;
  }
  .colonne-2 {
    display: flex;
    flex-direction: column;
    flex: 4;
  }
  .colonne-1 {
    flex: 2;
    z-index: 10;
  }
}
