@media (max-width: 425px),
  only screen and (max-device-width: 640px) and (orientation: landscape) {
  
  footer {
    overflow: hidden;
  }
  #computer {
    display: none;
  }
  #mobile {
    display: list-item;
  }
  .carousel-inner {
    padding-top: 5vh;
  }
  .mobileTransition .carousel-item {
    display: block;
    margin-bottom: 2vh;
  }
  .imgFull {
    width: 100% !important;
  }

  .colonne-2 {
    display: flex;
    flex-direction: initial;
    flex: 6;
    position: absolute;
  }
  .colonne-1 {
    flex: 2;
    z-index: 10;
  }
  footer p {
    padding-right: 0;
  }
  #c1Content li a {
    color: black;
   font-size: 9vh;
  }
  #mobileNav {
    display: block;
    right: 1em;
    position: fixed;
    font-weight: 1.4em;
    z-index: 30;
  }

  #mobileNav a {
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 300;
    color: black;
    margin-left: 1.2vh;
  }
  .menuAbsolute li:first-child {
    padding-top: 0;
  }
  .menuAbsolute {
    padding-top: 5vh;
  }
  .bigTitle h1 {
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
  }
  .bigTitle {
    font-weight: 1.4em;
  }
  #homePicture  {
    display: none;
  }
  #c1Content li {
    line-height: 1.1;
  }
  .mobileTransition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .mobileAnime {
    transform: translateX(120%);
    max-height: 90vh;
  }
  .mobileAnimeMenu {
    transform: translateX(-120%);
  }
  .mobileAnimeBack {
    transform: translateX(50%);
  }
  .content {
    position: absolute;
    align-items: baseline;
  }
  a:-webkit-any-link.carousel-control-next,
  a:-webkit-any-link.carousel-control-prev {
    display: none;
  }
}